body{
  font-family: 'Open Sans',sans-serif;
  background-image: url("HomePg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}
*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
nav{
  height: 80px;
  background: #737373;
}
nav img{
  height: 35px;
  width: 160px;
  position: absolute;
  top:17px;
  left: 12%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
  padding-bottom: 0px;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 100%;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: Roboto;
}
nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #ff751a;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
  display:none;
}
footer{
  float:right;
}
.down{
  margin-top: 520PX;
}
.starsign:link{
  color: orange;
  font-size: 15px;
}
.starsign:visited{
  color: orange;
  font-size: 10px;
}
.starsign:hover{
  color: white;
  font-size: 20px;
}
@media (max-width: 1118px) {
  nav img{
    left: 8%;

  }
}
@media (max-width: 768px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #737373;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0%;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}
@media (max-width: 425px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #737373;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;

  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0%;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
  .down{
    margin-top: 580PX;
    margin-left: 4PX;
    text-align: right;
    margin-right: 6PX;
  }
}
