/*the style is for the body*/
#main{
	width: 90%;
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 3%;
}
img{
	width: 100%;
	max-width:250px;
	float: right;
	margin-left: 2em;
	height: 100%;
}
figure{
	float: right;


}
figcaption{
	display:block;
	font-weight: bold;
	border-bottom: 1px solid black;
	margin-left: 15%;
	margin-right: 15%;

}

/*the style is for the sub-headings*/
h1 , h2  , h3{
	text-align: center;
	font-size: 300%;
	color: black;
	line-height: 100%;
	text-shadow: 4px 4px 4px black;
	font-family: Helvetica;

	/*This code is from chapter 5*/
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 0;
	width: auto;
}
em{
	border-bottom: 1px solid black;
}
#link{
	color: black;
	text-shadow: 4px 4px 4px black;

}
/*the style is for the main section of the body*/
main p:first-child::first-letter{
	font-weight: bold;
	font-size: 200%;

}

main>p{
	font-family: Roboto, Times New Roman, helvetica ;
	font-size: 150%;
	line-height: 130%;
	margin:0 auto;

	/* This code is from chapter5*/
	border: 2000px;


}

/*it is for the italic font*/
em{font-style: italic;
	font-weight: bold;
}
a:link{ color: white; }
a:hover, a:focus {color: #ff6600;}
/*the style is for the footer(it is were you would apply links to the next webpage*/
footer{
	font-family: Arial, Times New Roman, helvetica ;
	font-size: 90%;
	background-color: #737373;
	padding: 7px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right:5px;
	text-align: center;
	clear: both;

}
#bottom{
	color: white;
	font-weight: bold;
	background-color:#737373;
}
#bottom2{
	color: white;
	font-weight: bold;
	background-color:#737373;
}
#bottom3{
	color: white;
	font-weight: bold;
	background-color:#737373;
}
#bottom4{
	color: white;
	font-weight: bold;
	background-color:#737373;
}
#bottom5{
	color: white;
	font-weight: bold;
	background-color:#737373;
}
/*start of navigatioin menu*/
#Origins{
	margin-top: 0px;
	margin-left: 0px;
	margin-left: 0px;
}
body{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
}
*{
  margin: 0;
  padding:0;
  list-style: none;
  text-decoration: none;
}
nav{
	margin-top: 0%;
	margin-right: 0%;
	margin-left: 0%;
  height: 80px;
  background: #737373;
}
nav img{
  height: 35px;
  width: 160px;
  position: absolute;
  top:17px;
  left: 12%;
}
nav ul{
  float: right;
  margin-right: 25px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 15px;
}
nav ul li a {
  position: relative;
  color: white;
  font-size: 100%;
  padding: 5px 0;
  text-transform: uppercase;
  font-family: Roboto;
}
nav ul li a::before{
  position: absolute;
  content: '';
  left: 0;
  bottom: 0;
  height: 3px;
  width: 100%;
  background: #ff6600;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform .4s linear;
}
nav ul li a:hover::before{
  transform: scaleX(1);
  transform-origin: left;
}
label #btn,label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
  display:none;
}


/*Navigation menu*/
#blck{
	border: 2px solid #737373;
	border-top: 2px solid #737373;
	border-color: #737373 #737373;
	border-width: 4px 2px 4px 2px;
	border-radius: 10px 10px 10px 10px;
	margin-left: 0px;
	margin-right: 0px;
}
/*end of nevigation menu*/
/*start of media screening*/
@media (max-width: 1118px) {
  nav img{
    left: 8%;

  }
}
@media (max-width: 768px) {
	label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #737373;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0%;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
}
@media (max-width: 425px) {
  label #btn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #737373;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 20px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
    left: 0%;
  }
  #check:checked ~ label #cancel{
    display: block;
  }
	figure{
		float: left;
		margin-left: 50px;
		margin-left: 50px;
	}
}

/*end of media screening*/
